.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6rem auto;
    background: white;
    border-radius: 7px;
    padding: 2rem;
    min-width: 30rem;
    max-width: 30rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-prompt {
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    color: black;
}
.username, .password, .login-button {
    font-size: 1rem;
    margin: .5rem;
    border-radius: 7px;
    text-align: center;
    padding: .25rem;
    font-family: 'Quicksand';
}

.login-button {
    display: block;
    margin: .5rem auto;
    padding: .25rem 2rem .25rem 2rem;
    background: rgb(255, 71, 21);
    color: white;
    
}


.App {
    background: rgb(255,238,234);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.circ {
    position: absolute;
    border-radius: 50%;
}

.logo {
    
    margin: 3rem 2rem 2rem 2rem;
    width: 40rem;
}
.setlist-grid {
    display: grid;
    grid-template-areas: " . . b b c c";
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    justify-items: center;
    
}


@media only screen and (max-width: 708px) {
    .setlist-grid {
        grid-template-areas: "b";
        grid-template-columns: minmax(0, 100%);
    }    
    .setlist-actions {
        max-width: 100%;
    min-width: 375px;
    }
    .logo {
            margin: 1.5rem 0 1.5rem 0;
            width: 20rem;
    }
}
.setlist-actions {
    border-radius: 7px;
    overflow: auto;
    text-align: center;
    max-height: 17rem;
    background: transparent;
    grid-area: b;
    align-self: start;
}

.metronome-container {
   grid-area: c;
   
}

.page-title {
    font-weight: bold;
    position: relative;
    text-align: center;
    z-index: 20;
    background: transparent;
}