.setlist-container {
   max-height: 20rem;
   overflow: auto;
   background: rgb(209, 218, 247)
   
}

li{
    font-size: 2rem;
    color: rgb(32,33,36);
    background: rgb(209, 218, 247);
    list-style-position: inside;
}

li::marker {
    color: black;
}