.songs-container {
    padding: 0rem 5rem 0rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.songs-container:hover {
    background: pink;
}

p {
    margin: 1rem;
}

.delete-button {
    color: white;
    background-color: black;
    border: 2px solid red;
    padding: .2rem .4rem .2rem .4rem;
}