.songs-container {
    padding: 0rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: rgb(249, 249, 249);
    border-bottom: 1px solid black;
    
}
.song-details {
    
    margin-right: 14rem;
    min-width: 100px;
}
@media only screen and (max-width: 708px) {
    .songs-container {
        justify-content: center;
        padding: 0 0 0 1rem;
    }
    .song-details {
        margin-right: 8rem;
        margin-left: 0;
        
    }
}

.songs-container:hover {
    background: rgb(255,71,21);
    cursor: pointer;
}

.songs-container:hover > p {
 color: white;
}

p {
    font-size: 1.0rem;
    color: rgb(32,33,36);
    margin: 1rem;
    text-align: left;
    white-space: nowrap;
}




