
.setlist-container {
    z-index: 20;
    
}
.songs-container {
    padding: 0rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    background: rgb(249, 249, 249);
    border-bottom: 1px solid black;
}


.songs-container:hover {
    background: rgb(255,71,21);
    cursor: pointer;
}

.songs-container:hover > p {
 color: white;
}

p {
    font-size: 1.0rem;
    color: rgb(32,33,36);
    margin: 1rem;
    text-align: left;
    white-space: nowrap;
}

.song-details {
    flex-basis: 100%;
}


