.setlist-form-container {
    text-align: center;
    background: rgb(32,33,36)
}
.form-elements {
    font-size: 1.5rem;
}

.add-button {
    font-size: 1.5rem;
    padding: .5rem 2rem .5rem 2rem;
    margin: 1rem;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
}