.metronome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,71,21);
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    max-width: 17rem;
    min-width: 17rem;;
    animation-iteration-count: infinite;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media only screen and (max-width: 1262px) {
    .metronome {
        display: none;
    }       
}
.increment-decrement {
    
    font-size: 3rem;
    background: transparent;
    color: rgb(226 226 226);
    border: none;
    
}

.decrement {
    position: relative;
    bottom: 0.35rem;
}

.increment-decrement:hover {
    color: rgb(32,33,36);
    cursor: pointer;
}
input[type="range"] {
    height: .15rem;
    cursor: pointer;
}



.bpm {
    font-size: 3rem;
    padding: .2rem;
    color: rgb(226 226 226); 
      
}

.bpm-label {
    color: rgb(226 226 226);
    
}

.metronome-bpm-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-stop {
    font-size: 1rem;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Quicksand';
}
.start-stop:hover {
    color: rgb(32,33,36);
    border: 2px solid rgb(32,33,36);
}

@keyframes click {
    from {
        transform: scale(1.025);
    }
    to {
        transform: scale(1);
    }
}