.metronome {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3rem;
    background: rgb(62, 62, 170);
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    animation-iteration-count: infinite;
    
}
input[type="range"] {
    height: .15rem;
    color: rgb(226,226,226);
}
.bpm {
    font-size: 4rem;
    padding: .2rem;    
}

.metronome-bpm-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-stop {
    margin: 1rem;
}

@keyframes click {
    from {
        transform: scale(1.025);
    }
    to {
        transform: scale(1);
    }
}