.metronome {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    background: rgb(62, 62, 170);
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    animation-iteration-count: infinite;
    
}

.metronome-bpm-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-stop {
    margin: 1rem;
}

@keyframes click {
    from {
        height: 21rem;
        width: 21rem;
    }
    to {
        height: 20rem;
        width: 20rem;
    }
}