.App {
    background: rgb(255,238,234);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.circ {
    position: absolute;
    border-radius: 50%;
}

.logo {
    
    margin: 3rem 2rem 2rem 2rem;
    width: 40rem;
}
.setlist-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem 2rem 10rem;
    height: 17rem;
    background: transparent;
    
}

@media only screen and (max-width: 981) {
 .setlist-actions {
     background: black;
 }   
}
.setlist-container {
    
    border: 1px solid rgb(32,33,36);
}
.page-title {
    font-weight: bold;
    position: relative;
    text-align: center;
    z-index: 20;
    background: transparent;
}